body,
head {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #FFFBF8;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    /* color: #2D2D2D; */
    box-sizing: border-box;
}

li {
    list-style: none;
}

.SizesT input,
.ColorsT input {
    display: none;
}

a {
    text-decoration: none;
    font-weight: bold;
}


.container {
    padding: 0;
}

body::-webkit-scrollbar {
    width: 12px;
    /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
    background: #cec4bb;
    /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
    background-color: #f2e3d5;
    /* цвет бегунка */
    border-radius: 20px;
    /* округлось бегунка */
    border: 3px solid #f2e3d5;
    transition: all 2s ease-in-out;
    /* отступ вокруг бегунка */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #765b56;
    /* цвет бегунка */
    border-radius: 20px;
    /* округлось бегунка */
    border: 3px solid #765b56;
    /* отступ вокруг бегунка */
}

/* //////Header////// */

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    background: url(img/logo.jpeg)no-repeat center center / cover;
    max-height: 846px;
    height: 100vh;
}

.header_left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
}

.header_meni_left {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    -webkit-box-shadow: 0px 8px 11px -9px rgb(34 60 80 / 83%);
    -moz-box-shadow: 0px 8px 11px -9px rgba(34, 60, 80, 0.83);
    box-shadow: 0px 8px 11px -9px rgb(34 60 80 / 83%);
    background: #FFFBF8;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 3;
}

.change-lang {
    width: 50px;
    height: 60px;
    background: transparent;
    -webkit-box-shadow: 0px 8px 11px -9px rgb(34 60 80 / 83%);
    -moz-box-shadow: 0px 8px 11px -9px rgba(34, 60, 80, 0.83);
    box-shadow: 0px 8px 11px -9px rgb(34 60 80 / 83%);
}

.text_logo {
    margin: auto 4%;
    font-size: 55px;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    color: #2d2d2d
}

.ListOfClothes {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.ListOfClothes li a {
    display: block;
    margin: 0px 30px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.ListOfClothes li a:hover {
    color: #CEC4BB;
}

.mobile-menu-button {
    display: none;
}

.item {
    transition: all 0.3s ease-in-out;
    scale: 1;
}

.header_meni_right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin: 20px 0;
    width: 200px;
    justify-content: center;
}

#karzina {
    /* background: url(./img/carzina.png)no-repeat center center /cover; */
    width: 25px;
    height: 25px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

#karzina:hover {
    transform: scale(1.1);
}

#karzina span {
    position: absolute;
    right: -16px;
    bottom: -16px;
}

#poisk {
    display: none;
    border-top: 2px solid #CEC4BB;
    background: rgb(245, 32, 4, 0.0);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 50px 100px;
    font-size: 19px;
    background: #FFFBF8;
}

#poisk input {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
    height: 30px;
    font-size: 100%;
    background: #FFFBF8;
}

#closeSerch {
    position: relative;
    left: 100%;
    background: none;
    border: none;
}

#lupa {
    background: url(./img/poisk.png)no-repeat center center /cover;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    margin-right: 20px;
}

.header_middle {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 200px;
}

.header_text {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.header_text h1 {
    max-width: 500px;
    width: 100%;
}

.header_text h1 {
    font-size: 55px;
}

.header_text p {
    font-size: 18px;
}

.header_text a {
    border: 2px solid grey;
    padding: 30px 60px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    background: #F2E3D5;
    border-radius: 10px;
}

.header_text a:hover {
    background: #CEC4BB;
    color: #fff;
}

.box_header_midle_img img {
    max-width: 480px;
    width: 100%;
    height: 560px;
    text-align: right;
}

/* //////Header////// */

/* //////Content/////// */

#open_window {
    width: 90%;
    height: 75%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background: rgba(247, 243, 243);
    border-radius: 10px;
    padding: 20px;
    display: none;
    overflow-x: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 105;
}

#open_window::before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.5);
}

.aboutUs_txt {
    width: 48%;
    font-size: 18px;
}

#closeWindow {
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 25px;
    width: 35px;
    height: 35px;
    transition: all 0.2s ease-in-out;
}

#closeWindow:hover {
    transform: scale(1.1);
}

#cartItems {
    width: 100%;
}

.aboutUs_text_box {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    align-content: stretch;
    /* height: auto; */
    /* position: relative; */
    /* top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%; */
}


.aboutUs {
    margin: 70px 0;

}

.aboutUs h2 {
    text-align: center;
    font-size: 40px;
}

.aboutUs_img {
    height: auto;
}

.aboutUs_img img {
    width: auto;
    max-height: 800px;
    height: auto;

}

.aboutUs_txt {
    max-width: 600px;
    width: 100%;
    font-size: 18px;
    margin-left: 50px;
}

.spisok {
    margin: 50px 0;
}

.spisok div {
    margin: 50px 50px;
    position: relative;
}

.spisok div::before {
    content: "";
    background: url(./img/galohka.png)no-repeat center center /cover;
    position: absolute;
    top: -10px;
    left: -50px;
    width: 40px;
    height: 40px;
}

.box_collection {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 20px;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.elem1 {
    grid-row-start: 4;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 2;
    background: aqua;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url(./img/twentyTwo.jpg)no-repeat center center /cover;
}

.elem2 {
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
    background: rgb(245, 32, 4);
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background: url(./img/two.jpg)no-repeat center center /cover;
}

.collection2023 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.elem3 {
    grid-row-start: 7;
    grid-row-end: 13;
    grid-column-start: 2;
    grid-column-end: 3;
    background: rgb(66, 102, 8);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url(./img/thirteen.jpg)no-repeat center center /cover;
}

.elem4 {
    grid-row-start: 1;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 5;
    background: rgb(4, 66, 117);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url(./img/fourteen.jpg)no-repeat center center /cover;
}

.excluziv {
    grid-row-start: 9;
    grid-row-end: 13;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 100%;
    height: 100%;
    font-size: 50px;
    font-weight: bold;
}

.elem5 {
    grid-row-start: 7;
    grid-row-end: 12;
    grid-column-start: 5;
    grid-column-end: 5;
    width: 90%;
    height: 100%;
    font-size: 50px;
    font-weight: bold;
    background: rgb(82, 3, 58);
    text-align: left;
    background: url(./img/for.jpg)no-repeat center center /cover;
}

.box_slaider {
    margin: 50px 0;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 9px 16px 6px rgb(34 60 80 / 34%), -8px -8px 16px rgb(255 255 255 / 30%);
    transition: all 0.3s ease-in-out;
    transform: scale(85%);
}

.item img {
    width: 100%;
    height: 400px;
    border: 1px solid rgb(85, 84, 84);
}

.box_slaider h2 {
    text-align: right;
    margin: 0 50px 50px 0;
}

/* //// */
.box_slaider div h2 {
    margin: 0 0 40px 40px;
    font-size: 40px;
}

/* //// */

.slick-next {
    background: url(img/right.png)no-repeat center center /cover;
    width: 70px;
    height: 70px;
    position: absolute;
    border: none;
    top: 40%;
    right: 0;
    color: transparent;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.slick-next:active {
    background: url(img/right2.png)no-repeat center center /cover;
    width: 70px;
    height: 70px;
    position: absolute;
    border: none;
    top: 40%;
    right: 0;
    color: transparent;
    transform: scale(1.1);
}

.slick-prev {
    background: url(img/left.png)no-repeat center center /cover;
    width: 70px;
    height: 70px;
    position: absolute;
    border: none;
    top: 40%;
    left: 0;
    color: transparent;
    transition: all 0.1s ease-in-out;
    z-index: 5;
    cursor: pointer;
}

.slick-prev:active {
    background: url(img/left2.png)no-repeat center center /cover;
    width: 70px;
    height: 70px;
    position: absolute;
    border: none;
    top: 40%;
    right: 0;
    color: transparent;
    transform: scale(1.1);
}

.activeLink a {
    position: relative;
    color: #CEC4BB;
    font-size: 20px;
}

.foto {
    background: url(./img/images.jpg)no-repeat center center /cover;
    margin-top: 100px;
}

.foto_text {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 492px;
    height: 700px;
    text-align: center;
}

.foto_text p {
    margin-bottom: 71px;
    font-size: 40px;
    color: #fff;
}

.foto_text div a {
    color: #fff;
    padding: 20px 40px;
    border: 1px solid #fff;
    transition: all 0.5s ease-in-out;

}

.foto_text div a:hover {
    background-color: rgb(255, 255, 255, 0.5);
    color: #000000;
    transform: scale(1.5);
}

/* //////Header////// */

/* //////Footer////// */

.footer {
    background-color: #2D2D2D;
    padding: 50px;
    border-top: 2px solid #fff;
}

.footer_box1 h3 {
    color: #fff;
}

.footer_box1 h3 ul li a {
    color: #fff;
}

.footer_box2 ul li {
    color: #fff;
}

.footer_box1,
.footer_box2,
.adres,
.time {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
}

.footer_boxs {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
}

.footer_box1 ul,
.footer_box2 ul,
.adres ul,
.time ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;
    color: #fff;
}

.footer_box1 ul {
    height: 200px;
}

.footer_box2 ul {
    height: 150px;
}

.adres ul {
    height: 250px;
}

.time ul {
    height: 130px;
}

.footer_box1 a,
.footer_box2 a {
    color: #fff;
    font-weight: bold;
}

.adres ul,
.adress_opus {
    color: #fff;
}

.container h1 {
    color: #fff;
    text-align: center;
}

iframe {
    display: none;
}

/* //////Footer////// */

/* ///Описание товара/// */

/* //////Content///// */

#productInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-shadow: 7px 7px 12px 2px rgb(34 60 80 / 60%);
    -moz-box-shadow: 7px 7px 12px 2px rgba(34, 60, 80, 0.6);
    box-shadow: 7px 7px 12px 2px rgb(34 60 80 / 60%);
    padding: 10px;
    border-radius: 10px;
    margin: 40px auto;
    border: 3px rgb(216, 216, 216) solid;
    align-items: flex-start;
}

.productText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
    justify-content: space-evenly;
    margin-left: 20px;
    height: 100%;
    font-weight: bold;
    font-size: 18px;
}

#productImage {
    max-width: 800px;
    border-radius: 20px;
    width: 100%;
    height: 700px;
}

.productText h2 {
    width: 100%;
    padding: 15px;
}

#productSizes,
#productColor {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#productSizes,
#productColor,
#productColor,
#productBraShape,
#productMaterials,
#productStyle,
#productClasp,
#productCountry,
#productComposition,
#productPrint,
#productPrice {

    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin: 5px 0;
}

.SizesT label {
    position: relative;
    cursor: pointer;
}

.SizesT label,
.ColorsT label {
    width: 45px;
    height: 45px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px 2px rgb(209 209 209), 0px 0px 10px 2px rgb(34 60 80 / 20%) inset;
    -moz-box-shadow: 0px 0px 10px 2px rgb(209, 209, 209), 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 0px 10px 2px rgb(209 209 209), 0px 0px 10px 2px rgb(34 60 80 / 20%) inset;
    margin: 0 5px;
}

.SizesT label:hover,
.ColorsT label:hover {
    transform: scale(1.1);
}

.SizesT label:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.SizesT label:hover:before {
    background: #F2E3D5;

}


.SizesT input:checked+label:before {
    background: #F2E3D5;
    border-radius: 50%;

}

.SizesT,
.ColorsT {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-left: 20px;
}

#pushKarzina {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: #cec4bb;
    border-radius: 10px;
    border: 2px solid #192427;
    padding: 8px;
    width: 280px;
    height: 80px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    float: right;
}

#pushKarzina:hover {
    scale: 1.0, 5;
}

#pushKarzina p {
    color: #7c7171;
    font-size: 19px;
    padding-left: 5px;
    border: none;
}

#pushKarzina img {
    width: 70px;
    height: 80%;
}

/* //////Content///// */

/* ////Каталог товаров//// */

/* //////Content///// */

.container_product {
    margin-top: 60px;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#sort-select {
    min-width: 250px;
    box-shadow: 7px 5px 9px -1px rgba(34, 60, 80, 0.24), inset -8px -8px 16px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    height: 100vh;
    position: sticky;
    top: 0%;
    background: #FFFBF8;
}


#sort-select label {
    display: flex;
}

.qweqwe {
    position: sticky;
    top: 3%;
}

.price_filter,
.country_filter,
.price_filter2 {
    width: 100%;
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    padding: 10px;
    border-radius: 10px 0;
}

#slider {
    margin: 20px 0 !important;
    width: 90%;
}

.noUi-connect {
    background: #FFFBF8 !important;

}

.noUi-horizontal .noUi-handle {
    width: 24px;
    height: 28px;
    right: -17px;
    top: -6px;
}

#productContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    align-content: space-around;
    align-items: center;
    justify-items: stretch;
}

.product {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 9px 16px 6px rgb(34 60 80 / 34%), -8px -8px 16px rgb(255 255 255 / 30%);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 10px;
    max-width: 330px;
    width: auto;
    max-height: 370px;
    height: auto;
    position: relative;
}

.boxprod,
.boxprod p {
    text-align: left;
}

.product:hover {
    transform: scale(1.05);
    /* Увеличение размера при наведении */
    box-shadow: 4px 18px 32px 12px rgb(34 60 80 / 34%), -12px -12px 24px rgb(255 255 255 / 30%);
}

.product img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin: 0 auto;
}

/* //////Content///// */


/* //////Почта////// */
#orderForm {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 4px 18px 32px 12px rgb(34 60 80 / 34%), -12px -12px 24px rgb(255 255 255 / 30%);
    margin: 0 20px;
    background: #cec4bb;
    border-radius: 10px;
}

#orderForm select {
    width: 100%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
}

#orderForm input {
    width: 48%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
}

/* //////Почта////// */
/* //////Карзина//// */
.txt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 95%;
    height: 30px;
}

#cartItems {
    width: 100%;
}

.itemsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}

.imemsP {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.imemsP img {
    width: 100%;
    height: 200px;
}

.countBox {
    width: 80px;
    height: 100%;
    background: #f2e3d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

.counter-button {
    width: 30px;
    height: 30px;
    background: #fff;
    border: 2px solid rgb(197, 150, 150);
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    transition: all 0.2s ease-in-out;
}

.counter-button:hover {
    transform: scale(1.1);
}

#count {
    font-size: 24px;
    color: #fff;
    margin: 10px 100px;
}

/* Добавьте классы для каждого цвета */
/* Добавьте классы для каждого цвета */
.color-red {
    background-color: red;
    color: white;
    /* Белый цвет текста на красном фоне */
}

.color-blue {
    background-color: blue;
    color: white;
    /* Белый цвет текста на синем фоне */
}

.color-green {
    background-color: green;
    color: white;
    /* Белый цвет текста на зеленом фоне */
}

.color-yellow {
    background-color: yellow;
    color: black;
    /* Черный цвет текста на желтом фоне */
}

.color-aqua {
    background-color: aqua;
    color: black;
    /* Черный цвет текста на желтом фоне */
}

/* Добавьте стили для выбранного чекбокса */
input[type="checkbox"]:checked+label {
    font-weight: bold;
    /* Жирный текст для выбранного лейбла */
}

.deleteButton {
    margin-top: 20px;
    background: url(./img/carzinaDelete.png)no-repeat center center /cover;
    width: 30px;
    height: 35px;
    border: none;
    padding: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.deleteButton:hover {
    transform: scale(1.1);
}

.totalAmount {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
}

.poshtaBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 4px 18px 32px 12px rgb(34 60 80 / 34%), -12px -12px 24px rgb(255 255 255 / 30%);
    margin: 20px;
}

#cartItemsContainer {
    max-width: 700px;
    height: 700px;
    background: #cec4bb;
    color: #fff;
    font-size: 19px;
    border-radius: 10px;
    overflow-y: auto;
    border-radius: 10px;
    padding: 5px;
}

#cartItemsContainer::-webkit-scrollbar {
    width: 12px;
    /* ширина всей полосы прокрутки */
}

#cartItemsContainer::-webkit-scrollbar-track {
    background: #cec4bb;
    border-radius: 10px;
    /* цвет зоны отслеживания */
}

#cartItemsContainer::-webkit-scrollbar-thumb {
    background-color: #f2e3d5;
    /* цвет бегунка */
    border-radius: 20px;
    /* округлось бегунка */
    border: 3px solid #f2e3d5;
    transition: all 2s ease-in-out;
    /* отступ вокруг бегунка */
}

#cartItemsContainer::-webkit-scrollbar-thumb:hover {
    background-color: #765b56;
    /* цвет бегунка */
    border-radius: 20px;
    /* округлось бегунка */
    border: 3px solid #765b56;
    /* отступ вокруг бегунка */
}

#cartItemsContainer p {
    color: #000000;
}

.posta {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

#your_button {
    border: 2px solid grey;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    background: #F2E3D5;
    border-radius: 10px;
    margin: 0 auto;
}

.slider {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="range"] {
    width: 100%;
    margin: 5px;
}




/* /////Адаптив//// */
@media (max-width: 1280px) {

    #productContainer {
        grid-template-columns: repeat(auto-fill, 250px);
    }
}
@media (max-width: 1024px) {


    /* Ваш стиль для десктопов */
    .container_product {
        margin-top: 60px;
        display: flex;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .qweqwe {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;

    }

    .price_filter,
    .country_filter,
    .price_filter2 {
        width: 100%;
        box-shadow: 0px -5px 5px -5px rgb(34 60 80 / 60%) inset;
        padding: 10px;
        border-radius: 0 0 10px 10px;
    }

    .aboutUs_img img {
        width: 360px;
        max-height: 750px;
        height: auto;
    }

    #sort-select {
        width: 100%;
        border-radius: 10px;
        height: 100%;
        position: sticky;
        top: 0%;
        background: none;
        box-shadow: none;
    }

    /*  */
    .mobile-menu-button {
        display: block;
        cursor: pointer;

    }

    .burgerMenu.active {
        display: block;
    }

    #burgerMenu {
        display: block;
        cursor: pointer;
        padding: 10px;
        z-index: 9999;
        margin: 0 10px;
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: #000000;
        margin: 5px auto;
    }

    .mobileMeni {
        display: none;
    }

    .active {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        z-index: 25;
    }

    .ListOfClothes {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobileMeni li {
        margin: 10px 0;
    }

    .mobileMeni li a {
        text-decoration: none;
        font-size: 16px;
        color: #fff;
    }

    #closeButton {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #d9d9d9;
        font-size: 28px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 1%;
        left: -5.5%;
    }

    #closeButton:hover {
        border: 2px solid #ff0000;
        background: #ff8383;
        color: #fff;
    }

    .mobileMeni li a {
        display: block;
        margin: 0px 30px;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
    }

    .productText {
        width: 100%;
    }

}

@media (max-width: 768px) {
    .header_text {
        margin: 0 auto;
    }

    .aboutUs_text_box {
        text-align: center;
    }

    .aboutUs_txt {
        margin: 0 auto;
        font-size: 14px;
    }

    .text_logo {
        margin: 0%;

    }

    .aboutUs_img img {
        width: 100%;
        height: auto;
    }

    .lng-header-text-h1,
    .lng-headerTextP {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .lng-headerTextButton {
        margin: 0 auto;
    }

    #product-container a {
        margin: 10px;
        width: 90%;
    }

    .container_product {
        margin-top: 60px;
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .qweqwe {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
    }

    .price_filter,
    .country_filter {
        width: 100%;
        box-shadow: 0px -5px 5px -5px rgb(34 60 80 / 60%) inset;
        padding: 10px;
        border-radius: 10px;
    }

    #productContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        justify-items: center;
        justify-content: center;
        align-items: center;
    }

    .product {
        max-width: 450px;
        width: 100%;
        height: auto;
    }

    #sort-select {
        min-width: 250px;
        border-radius: 10px;
        height: 100%;
        position: sticky;
        top: 11%;
        background: #FFFBF8;
        z-index: 2;
        box-shadow: none;
    }

    .active {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    #closeButton {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #d9d9d9;
        font-size: 28px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 1%;
        left: 0%;
    }

    #languageSelector {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .header_meni_left {
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        z-index: 2;
        width: 100%;
        -webkit-box-shadow: 0px 8px 11px -9px rgb(34 60 80 / 83%);
        -moz-box-shadow: 0px 8px 11px -9px rgba(34, 60, 80, 0.83);
        box-shadow: 0px 8px 11px -9px rgb(34 60 80 / 83%);
        background: #FFFBF8;
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 3;
    }

    .header_middle {
        margin-top: 100px;
    }

    .foto_text {
        width: auto;
    }

    .lng-excluziv_p {

        font-size: 19px;
    }

    .footer_box1 ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }

}

@media (max-width: 767px) {
    .aboutUs_text_box {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
        align-content: stretch;
    }

    .lng-excluziv_p {
        font-size: 15px;
    }

    .aboutUs_img img {
        width: 100%;
        height: 100%;
    }

    .foto_text {
        width: auto;
    }

    .lng-aboutUs_txt_p {
        display: none;
    }

    .aboutUs_txt {
        margin: 0 auto;
    }

    .header_text {
        margin: 0 auto;
    }

    .box_collection,
    .collection2023,
    .lng-collection2023-p {
        display: none;
    }
}

@media (max-width: 413px) {
    .header_meni_right {
        width: 100px;
    }

    #lupa {

        margin-right: 0px;
    }
    .text_logo {
        font-size: 40px;
    }
}

/* Стили для прелоадера */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 18, 18, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader .preloader_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow-y: hidden;
    /* border: 4px solid #fa0d0d;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;  */
    background: url(https://i.gifer.com/7h7F.gif)no-repeat center center /cover;
}

/* Ключевые кадры для анимации */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Скрывать прелоадер после загрузки */
body.loaded .preloader {
    display: none;
}